*{
	padding: 0;
	margin: 0;
}
h3{
	font-size: 1.4rem;
	font-weight: 400;
	color: rgb(0, 0, 0);
	border: solid rgb(104, 104, 104);
	display: block;
  margin: auto;
  width: 50%;
  background-color: aliceblue;
}
html{
	font-family: 'Bebas Neue', cursive;
}
img{
	margin-top: 10px;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	border: solid rgb(255, 255, 255);
	
	
}
body{
	background-image: url(background.jpg);
 background-position: contain;
}
.button{
	width: 70%;
	color: rgb(0, 0, 0);
	background-color: rgb(136, 136, 136);
	display: inline-block;
	font-size: 1.2em;
	letter-spacing: 10px;
	margin: 18px ;
	padding: 10px 0px;
	text-align: center;
	height: 25px;
	line-height: 10px;
	text-decoration: none;
	box-shadow: 0px 3px 0px rgb(0, 72, 180);	min-width: 310px;
}


.button span{
	
	background-size: contain;
	border-radius: 2px;
}
div{
	text-align: center;
}
.titulo {
	display: inline-flex;
text-align: center;
margin-block-end: 40px;
}
p{
	width: 100%;
	color: rgb(33, 165, 0);
	font-size: 2rem;
   padding: 10px;
	border: solid  rgb(255, 255, 255);
	box-shadow: 0px 7px 7px rgb(4, 65, 233);


}
div{
	font-size: 1.5em;
	font-style: italic;
}
.titulo{
	text-align: center;
}

text{
	color: rgb(16, 192, 0);
}


span.icofont-facebook{
	letter-spacing: -0px;
	color: rgb(255, 255, 255);
	background-color: rgb(20, 4, 252);
}
span.icofont-instagram{
	letter-spacing: -0px;
	border-radius: 10px;
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
span.icofont-telegram{
	background-color: rgb(255, 255, 255);
	color: rgb(24, 78, 255);
border: none;
letter-spacing: -0px;
}


@media (min-width: 600px) {
	
	.titulo{
		width: 50%;
	}

	p{
		color: rgb(0, 0, 0);
	font-size: 2rem;
    margin: 10px;

	}
	.button{
		width: 70%;
		color: rgb(0, 0, 0);
		display: inline-block;
		font-size: 1.2em;
		letter-spacing: 10px;
		margin: 18px ;
		padding: 10px 0px;
		text-align: center;
		text-decoration: none;
	
		
	}

}
@media (min-width: 600px) {
	.button{
		width: 600px;
		
	}
	
}